/* styles for graphs */
.adrotate_label { font-size: 12px; margin: auto 0; padding:5px; font-weight: bold }
.adrotate_clicks { color: #5Af; font-weight: normal }
.adrotate_impressions { color: #F80; font-weight: normal }

/* styles for advert statuses and stats */
.row_red { background-color:#ffebe8; border-color:#c00; }
.row_orange { background-color: #fdefc3; border-color: #c80; }
.row_yellow { background-color:#ffffe0; border-color:#e6db55; }
.row_blue { background-color:#ebf3fa; border-color:#466f82; }
.row_green { background-color: #e5faee; border-color: #518257; }
.stats_large { display: block; margin-bottom: 10px; margin-top: 10px; text-align: center; font-weight: bold; }
.number_large {	margin: 20px; font-size: 28px; }

.adrotate_inline_error { margin-left:10px; padding:5px; background-color:#c00; color:#fff; }

/* Ad previews */
.preview-wrapper { padding:0; width:50%; height:100px; border:3px solid; border-radius:10px; text-align:center; }
.preview-inner { padding:20px 10px; display:inline-block; text-align:center; }

/* Fancy select box for Post/Page injection and Geo Targeting */
.adrotate-select { padding:3px; border:1px solid #efefef; min-width:400px; max-height:400px; overflow-y:scroll; background-color:#fff; }
.adrotate-select .check-column { width: 7%; text-align: center; }
.postbox-ajdg textarea { border:1px solid #efefef; width:100%; margin:3px 0; padding:3px; }

/* Banner styles */
.ajdg-notification.notice { padding: 0; margin: 5px 0 10px; border: 1px solid #E5E5E5; background: #FFF; overflow: hidden; -webkit-border-radius: 6px; border-radius: 6px; -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05); box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05); position: relative; z-index: 1; min-height: 80px; display: table; }
.ajdg-notification > div { display: table-cell; vertical-align: middle; cursor: default; }
.ajdg-notification a { text-decoration: none; }
.ajdg-notification-logo { background-color: #1fa4d1; background-repeat: no-repeat; background-position: 50% 50%; }
.ajdg-notification-logo span { display: block; width: 80px; }
.ajdg-notification-message { width: 100%; padding: 10px 20px; color: #444; }
.ajdg-notification-message strong { color: #000; }
.ajdg-notification-cta { border-left: 1px solid #E5E5E5; background: #F8F8F8; padding: 0 30px; position: relative; white-space: nowrap; }
.wp-core-ui .ajdg-notification-cta a, .wp-core-ui .ajdg-notification-cta .button-primary:active { vertical-align: middle; }
.ajdg-notification-dismiss { background: transparent; margin-left: 20px; border: 0; cursor: pointer; color: #BBB; text-decoration: none; }

/* Dashboard grid */
.ajdg-box-wrap { display: grid; grid-template-columns: repeat(12, 1fr); gap: 1em; width: 100%; max-width: 100%; margin: 0 auto;	padding: 10px 0; }
.ajdg-box-wrap.narrow { width:70%; max-width:70%; }
@media (max-width: 782px) {
	.ajdg-box-wrap { grid-template-columns: 1fr; gap: 0.5em; padding: 0; }
}
/* -- Columns */
.ajdg-box-one { grid-column: span 3; }
.ajdg-box-two { grid-column: span 6; }
.ajdg-box-three { grid-column: span 9; }
.ajdg-box-four { grid-column: span 12; }
.ajdg-box-onethird { grid-column: span 4; }
.ajdg-box-twothird { grid-column: span 8; }
@media (max-width: 960px) {
  .ajdg-box-one, .ajdg-box-two, .ajdg-box-three, .ajdg-box-onethird, .ajdg-box-twothird { grid-column: span 6; }
  .ajdg-box-four { grid-column: span 12; }
  .ajdg-box-wrap.narrow { width: 100%; max-width: 100%; }
}
@media (max-width: 782px) {
  .ajdg-box-one, .ajdg-box-two, .ajdg-box-three, .ajdg-box-four, .ajdg-box-onethird, .ajdg-box-twothird { grid-column: span 12; }
}
/* -- Box and contents */
.ajdg-box { margin: 0; min-height: 100px; box-sizing: border-box; }
.ajdg-box-title { padding-left: 4px; }
.ajdg-box-content { margin-bottom: 20px; padding: 10px 20px 20px 20px; border-radius: 6px; border:#dfdfdf 1px solid; background-color:#fff; clear: both; position: relative; }
.pro-image { padding:0px 10px 0px 0px; }
.ajdg-photo { border-radius: 5px; }
.ajdg-fullwidth { width: 100%; }
.ajdg-inputfield { height: 28px; margin: 0 4px 0 0; }
/* -- Sales box */
.ajdg-box-sale { padding: 0; }
.ajdg-box-sale a { cursor: pointer; text-decoration: none; }
.ajdg-box-sale a:hover { text-decoration: underline; }
.ajdg-box-sale hr { margin: 0; background: #dadde1; border-width: 0; color: #dadde1; height: 1px; }
.ajdg-box-sale img{ position: relative; height: auto; min-height: initial; width: 100%; }
.ajdg-box-sale .title { margin: 8px 12px 2px 12px; text-align: center; font-size: 14px; line-height: 18px; font-weight: 600; }
.ajdg-box-sale .sub_title{ margin: 5px 12px 10px 12px; text-align: center; font-size: 14px; font-weight: normal; }
.ajdg-box-sale .description { font-size: 12px; text-align: left; margin: 12px; }
.ajdg-box-sale .cta { margin: 8px 12px 12px 12px; text-align: center; }
.ajdg-box-sale .cta_button { padding: 0; border: 1px solid #ccd0d5; border-radius: 4px; box-sizing: content-box; width: 100%; display: inline-block; background-color: #f5f6f7; position: relative; text-align: center; text-decoration: none; color: #4b4f56; font-size: 16px; font-weight:bold; line-height: 32px; vertical-align: middle; cursor: pointer; white-space: nowrap; }
.ajdg-box-sale .cta_button:before { content:''; display: inline-block; height: 20px; vertical-align: middle; }
.ajdg-box-sale .cta_button:hover { text-decoration: none; background-color: #ebedf0; }

/* Old dashboard styles (Used in some places in the edit dashboards) */
.ajdg-postbox-container { width: 49.5%; float: left; }
.ajdg-postbox { margin: 0 8px; min-height: 100px; box-sizing: border-box; }
.ajdg-postbox-content { margin-bottom: 20px; padding: 10px 20px 20px 20px; min-height: 40px; min-width:255px; border:#dfdfdf 1px solid; background-color:#fff; clear: both; position: relative; }

/* Tooltips */
.ajdg-tooltip { position: relative; display: inline-block; border-bottom: 1px dotted black; }
.ajdg-tooltip-top { width: 150px; bottom: 100%; left: 50%; margin-left: -75px; /* Use half of the width */ }
.ajdg-tooltip-bottom { width: 150px; top: 100%; left: 50%; margin-left: -75px; /* Use half of the width */ }
.ajdg-tooltip-left { top: -5px; right: 105%; }
.ajdg-tooltip-right { top: -5px; left: 105%; }
.ajdg-tooltip .ajdg-tooltiptext { visibility: hidden; width: 150px; background-color: #23282d; color: #eee; text-align: center; border-radius: 6px; padding: 5px 8px; position: absolute; z-index: 100; }
.ajdg-tooltip:hover .ajdg-tooltiptext { visibility: visible; }

/* DatePicker */
.ui-datepicker { background: #f7f7f7; margin: 5px auto 0; -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5); -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5); box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5); }
.ui-datepicker a { text-decoration: none; }
.ui-datepicker table { width: 100%; }
.ui-datepicker-header {	background: #86c351; color: #fff; font-weight: bold; line-height: 30px; border: 0px; }
.ui-datepicker-title { text-align: center; }
.ui-datepicker-prev, .ui-datepicker-next { display: inline-block; width: 30px; height: 30px; text-align: center; cursor: pointer; background-image: url('../images/date-arrow.png'); background-repeat: no-repeat; line-height: 600%; overflow: hidden; }
.ui-datepicker-prev { float: left; background-position: center -30px; }
.ui-datepicker-next { float: right; background-position: center 0px; }
.ui-datepicker thead { background-color: #dfdfdf; border-bottom: 1px solid #bbb; }
.ui-datepicker th { text-transform: uppercase; padding: 5px 0; color: #666666; }
.ui-datepicker tbody td { padding: 0; border: 0px; }
.ui-datepicker tbody tr { border-bottom: 0px; }
.ui-datepicker td span, .ui-datepicker td a { display: inline-block; font-weight: bold; text-align: center; width: 30px; height: 30px; line-height: 30px; color: #666666; }
.ui-datepicker-calendar .ui-datepicker-today { border: 1px solid #86c351; border-radius: 5px; overflow: hidden; }
.ui-datepicker-calendar .ui-state-default { background: #f7f7f7; }
.ui-datepicker-calendar .ui-state-hover { background: #efefef; border-radius: 5px; }
.ui-datepicker-calendar .ui-state-active { background: #86c351; color: #fff; border: 1px solid #e2f4d2; position: relative; margin: -1px; border-radius: 5px; }
.ui-datepicker-unselectable .ui-state-default { background: #f4f4f4; color: #b4b3b3; }
.ui-datepicker-calendar td:first-child .ui-state-active { width: 29px; margin-left: 0; }
.ui-datepicker-calendar td:last-child .ui-state-active { width: 29px; margin-right: 0; }
.ui-datepicker-calendar tr:last-child .ui-state-active { height: 29px; margin-bottom: 0; }
